nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 5px 5px 5px;
    margin: 0px clamp(5px, 2vw, 40px);
    font-size: 15px;
    border-bottom: 1px solid;
    z-index: 100;
}

nav h1 {
    cursor: pointer;
}

.hamMenu {
    display: grid;
    justify-items: end;
    cursor: pointer;
}
.hamMenuLine {
    height: 4px;
    width: 35px;
    background: #fff;
    border-radius: 2px;
    transition: .3s;
}
.hamMenuFirst {
    margin-bottom: 5px;
    width: 25px;
}

.hamMenuSecond {
    margin-bottom: 5px;
    width: 30px;
}

.slideMenu {
    display: grid;
    gap: 5px;
    position: absolute;
    top: 50px;
    right: -170px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: #21212150;
    backdrop-filter: blur(3px);
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
    transition: .5s;
    border: 1px solid #ffffff50;
}
.slideMenuButton {
    background-color: transparent;
}

.slideMenuButton:hover {
    text-decoration: underline;
}

.navMenu {
    display: none;
    list-style: none;
}

.navButton {
    position: relative;
    cursor: pointer;
    margin: 0 clamp(10px, 1vw, 50px);
}

.navButton::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #fff;
    color: #fff;
    transition: .5s;
}

.navButton:hover::after {
    width: 100%;
}



@media screen and (min-width: 700px){
    nav {
        font-size: 18px;
        padding: 15px 0px 5px 15px;
    }
    .navMenu {
        display: flex;
    }
    .hamMenu {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        font-size: 18px;
    }
}
